/*

!.gitignore
!.gitattributes
!README.md
!LICENSE

!config
!defaultconfigs
!kubejs
!openloader
!worldshape

!client-mods.txt
!client-resourcepacks.txt
!common-mods.txt
!download-windows-client.ps1
!download.sh
!progress_bar.sh
!update-windows-client.ps1

config/jei/*.ini
